<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Define appenders -->
    <appender name="local" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} %X{requestId} %magenta([%thread]) %highlight(%-5level) %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="cloud" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider"/>
        </encoder>
    </appender>

    <!-- Profile-specific configuration -->
    <springProfile name="localhost">
        <logger name="org.springframework" level="WARN"/>
        <logger name="org.hibernate" level="WARN"/>
        <logger name="no.kartverket.nibas" level="INFO"/>
        <root level="INFO">
            <appender-ref ref="local"/>
        </root>
    </springProfile>

    <!-- Default configuration for other profiles -->
    <springProfile name="!localhost">
        <root level="INFO">
            <appender-ref ref="${ENV:-cloud}"/>
        </root>
    </springProfile>
</configuration>

