<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Sett nivå til WARN for Spring og andre biblioteker -->
    <logger name="org.springframework" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    
    <!-- Sett nivå til INFO for våre egne klasser -->
    <logger name="no.kartverket.nibas.nibasarbeidsliste" level="INFO" />
    
    <root level="WARN">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
